/* Vodafone-Inspired design tokens */
:root {
  --color-primary: #e60000;
  --color-on-primary: #ffffff;
  --color-ink: #25282b;
  --color-body: #7e7e7e;
  --color-mute: #bebebe;
  --color-canvas: #ffffff;
  --color-canvas-soft: #f2f2f2;
  --color-on-dark: #ffffff;
  --font-primary: Vodafone, Vodafone Rg, Helvetica Neue, Arial, sans-serif;
  --text-display-hero: 144px;
  --leading-display-hero: 114px;
  --tracking-display-hero: -1px;
  --text-display-xxl: 126px;
  --leading-display-xxl: 113px;
  --tracking-display-xxl: -1px;
  --text-display-xl: 90px;
  --leading-display-xl: 84px;
  --text-display-lg: 48px;
  --leading-display-lg: 52px;
  --text-display-md: 40px;
  --leading-display-md: 44px;
  --text-display-sm: 32px;
  --leading-display-sm: 40px;
  --text-display-xs: 24px;
  --leading-display-xs: 24px;
  --text-eyebrow-uppercase: 16px;
  --leading-eyebrow-uppercase: 24px;
  --text-body-lg: 22px;
  --leading-body-lg: 24px;
  --text-body-md: 18px;
  --leading-body-md: 28px;
  --text-body-md-strong: 18px;
  --leading-body-md-strong: 28px;
  --text-body-sm: 16px;
  --leading-body-sm: 20px;
  --text-body-sm-strong: 16px;
  --leading-body-sm-strong: 22px;
  --text-caption: 14px;
  --leading-caption: 16px;
  --text-caption-strong: 14px;
  --leading-caption-strong: 21px;
  --text-caption-uppercase: 12px;
  --leading-caption-uppercase: 16px;
  --tracking-caption-uppercase: 0.5691px;
  --text-button-md: 18px;
  --leading-button-md: 28px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 20px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;
  --radius-none: 0px;
  --radius-xs: 1px;
  --radius-sm: 6px;
  --radius-card: 6px;
  --radius-pill-md: 32px;
  --radius-pill-lg: 60px;
  --radius-full: 9999px;
}
