/* Sanity design tokens */
:root {
  --color-color-1: #0b0b0b;
  --color-color-2: #212121;
  --color-color-3: #353535;
  --color-color-4: #797979;
  --color-color-5: #b9b9b9;
  --color-color-6: #ededed;
  --color-color-7: #ffffff;
  --color-color-8: #0052ef;
  --color-color-9: #f36458;
  --color-pure-black: #000000;
  --color-light-blue: #55beff;
  --color-color-12: #afe3ff;
  --color-neon-green: #19d600;
  --color-error-red: #dd0000;
  --color-gpc-green: #37cd84;
  --color-color-16: #072227;
  --font-primary: Inter, system-ui, sans-serif;
  --text-space-1: 1px;
  --leading-space-1: 1.5;
  --tracking-space-1: 0;
  --text-space-2: 2px;
  --leading-space-2: 1.5;
  --tracking-space-2: 0;
  --text-space-3: 4px;
  --leading-space-3: 1.5;
  --tracking-space-3: 0;
  --text-space-4: 6px;
  --leading-space-4: 1.5;
  --tracking-space-4: 0;
  --text-space-5: 8px;
  --leading-space-5: 1.5;
  --tracking-space-5: 0;
  --text-space-6: 12px;
  --leading-space-6: 1.5;
  --tracking-space-6: 0;
  --text-space-7: 16px;
  --leading-space-7: 1.5;
  --tracking-space-7: 0;
  --text-space-8: 24px;
  --leading-space-8: 1.5;
  --tracking-space-8: 0;
  --text-space-9: 32px;
  --leading-space-9: 1.5;
  --tracking-space-9: 0;
  --text-space-10: 48px;
  --leading-space-10: 1.5;
  --tracking-space-10: 0;
  --text-space-11: 64px;
  --leading-space-11: 1.5;
  --tracking-space-11: 0;
  --text-radius-xs: 3px;
  --leading-radius-xs: 1.5;
  --tracking-radius-xs: 0;
  --text-radius-md: 6px;
  --leading-radius-md: 1.5;
  --tracking-radius-md: 0;
  --text-radius-lg: 12px;
  --leading-radius-lg: 1.5;
  --tracking-radius-lg: 0;
  --text-radius-pill: 99999px;
  --leading-radius-pill: 1.5;
  --tracking-radius-pill: 0;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --radius-sm: 6px;
  --radius-md: 9px;
  --radius-lg: 5px;
  --radius-xl: 2px;
  --radius-pill: 3px;
  --radius-r6: 1px;
}
